[Unit]
Description=Whiskr Chat
After=multi-user.target
StartLimitBurst=10
StartLimitIntervalSec=60

[Service]
Type=simple
Restart=always
RestartSec=5
User=root
WorkingDirectory=/var/whiskr
ExecStart=/var/whiskr/whiskr
StandardOutput=append:/var/whiskr/whiskr.log
StandardError=append:/var/whiskr/whiskr.log

[Install]
WantedBy=multi-user.target
