body.kanagawa {
	--c-rosewater: #d27e99;
	--c-mauve: #957fb8;
	--c-red: #c34043;
	--c-maroon: #e82424;
	--c-yellow: #e6c384;
	--c-green: #76946a;
	--c-sapphire: #7aa89f;
	--c-blue: #7e9cd8;
	--c-lavender: #9cabca;

	--c-text: #dcd7ba;
	--c-subtext: #727169;

	--c-overlay2: #54546d;
	--c-overlay0: #363646;
	--c-surface2: #2a2a37;
	--c-surface1: #223249;
	--c-surface0: #1f1f28;
	--c-base: #16161d;
	--c-mantle: #1a1a22;
	--c-crust: #090618;

	--c-green-dark: color-mix(in oklab, var(--c-green), black 25%);
	--c-overlay0-dark: color-mix(in oklab, var(--c-overlay0), black 12%);
	--c-surface0-dark: color-mix(in oklab, var(--c-surface0), black 12%);
	--c-base-dark: color-mix(in oklab, var(--c-base), black 12%);
	--c-mantle-dark: color-mix(in oklab, var(--c-mantle), black 12%);
	--c-crust-dark: color-mix(in oklab, var(--c-crust), black 12%);

	--gradient-0: color-mix(in oklch, #7aa89f 50%, #76946a);
	--gradient-1: color-mix(in oklch, #7e9cd8 50%, #7aa89f);
	--gradient-2: color-mix(in oklch, #957fb8 50%, #7e9cd8);
	--gradient-3: color-mix(in oklch, #d27e99 50%, #957fb8);
	--gradient-4: color-mix(in oklch, #e6c384 50%, #e82424);
	--gradient-5: color-mix(in oklch, #e82424 50%, #d27e99);
	--gradient-6: color-mix(in oklch, #c34043 50%, #d27e99);
}

body.kanagawa {
	--hl-text: #dcd7ba;
	--hl-bg: #1f1f28;
	--hl-keyword: #957fb8;
	--hl-built-in: #e6c384;
	--hl-type: #7aa89f;
	--hl-literal: #d27e99;
	--hl-operator: #c0a36e;
	--hl-punctuation: #54546d;
	--hl-property: #7e9cd8;
	--hl-regexp: #e46876;
	--hl-string: #98bb6c;
	--hl-subst: #dcd7ba;
	--hl-symbol: #e46876;
	--hl-title: #7e9cd8;
	--hl-comment: #727169;
	--hl-link: #7fb4ca;
	--hl-addition: #76946a;
	--hl-addition-bg: rgba(118, 148, 106, 0.15);
	--hl-deletion: #c34043;
	--hl-deletion-bg: rgba(195, 64, 67, 0.15);
}