body.tokyo-night {
	--c-rosewater: #f7768e;
	--c-mauve: #bb9af7;
	--c-red: #f7768e;
	--c-maroon: #ff9e64;
	--c-yellow: #e0af68;
	--c-green: #9ece6a;
	--c-sapphire: #7dcfff;
	--c-blue: #7aa2f7;
	--c-lavender: #b4f9f8;

	--c-text: #c0caf5;
	--c-subtext: #9aa5ce;

	--c-overlay2: #565f89;
	--c-overlay0: #414868;
	--c-surface2: #292e42;
	--c-surface1: #24283b;
	--c-surface0: #1f2335;
	--c-base: #1a1b26;
	--c-mantle: #16161e;
	--c-crust: #111217;

	--c-green-dark: color-mix(in oklab, var(--c-green), black 25%);
	--c-overlay0-dark: color-mix(in oklab, var(--c-overlay0), black 12%);
	--c-surface0-dark: color-mix(in oklab, var(--c-surface0), black 12%);
	--c-base-dark: color-mix(in oklab, var(--c-base), black 12%);
	--c-mantle-dark: color-mix(in oklab, var(--c-mantle), black 12%);
	--c-crust-dark: color-mix(in oklab, var(--c-crust), black 12%);

	--gradient-0: color-mix(in oklch, #73daca 50%, #9ece6a);
	--gradient-1: color-mix(in oklch, #2ac3de 50%, #7dcfff);
	--gradient-2: color-mix(in oklch, #27a1b9 50%, #7aa2f7);
	--gradient-3: color-mix(in oklch, #9d7cd8 50%, #bb9af7);
	--gradient-4: color-mix(in oklch, #ffc777 50%, #e0af68);
	--gradient-5: color-mix(in oklch, #ff9e64 50%, #f7768e);
	--gradient-6: color-mix(in oklch, #db4b4b 50%, #f7768e);
}

body.tokyo-night {
	--hl-text: #c0caf5;
	--hl-bg: #1a1b26;
	--hl-keyword: #bb9af7;
	--hl-built-in: #ff9e64;
	--hl-type: #2ac3de;
	--hl-literal: #ff9e64;
	--hl-operator: #89ddff;
	--hl-punctuation: #c0caf5;
	--hl-property: #7dcfff;
	--hl-regexp: #b4f9f8;
	--hl-string: #9ece6a;
	--hl-subst: #a9b1d6;
	--hl-symbol: #7dcfff;
	--hl-title: #7aa2f7;
	--hl-comment: #565f89;
	--hl-link: #73daca;
	--hl-addition: #9ece6a;
	--hl-addition-bg: rgba(158, 206, 106, 0.15);
	--hl-deletion: #f7768e;
	--hl-deletion-bg: rgba(247, 118, 142, 0.15);
}
