@font-face {
	font-family: "Comic Code";
	src: url(fonts/ComicCode-Regular.ttf);
	font-weight: normal;
}

* {
	box-sizing: border-box;
}

:-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: #cad3f5;
	border: none;
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #cad3f5;
}

* {
	scrollbar-width: thin;
	scrollbar-color: #cad3f5 transparent;
}

html,
body {
	margin: 0;
	width: 100%;
	height: 100%;
	background: #181926;
	color: #cad3f5;
}

pre,
code {
	font-family: "Comic Code", ui-monospace, "Cascadia Mono", "Segoe UI Mono", "Ubuntu Mono", "Roboto Mono", Menlo, Monaco, Consolas, monospace;
	font-size: 13px;
}

pre {
	white-space: pre-wrap;
	line-height: 18px;
	overflow: hidden;
	tab-size: 4;
	margin: 0;
	padding: 10px 14px;
}