[Unit]
Description=Whiskr
After=network-online.target
Requires=network-online.target
StartLimitBurst=10
StartLimitIntervalSec=60

[Service]
Type=simple
User=whiskr
Group=whiskr

WorkingDirectory=/var/wskr.sh
ExecStart=/var/wskr.sh/whiskr

StandardOutput=append:/var/wskr.sh/logs/whiskr.log
StandardError=append:/var/wskr.sh/logs/whiskr.log
StandardInput=null

# Filesystem Sandboxing
ProtectSystem=strict
ReadWritePaths=/var/wskr.sh
ProtectHome=yes
PrivateTmp=yes
PrivateMounts=yes
UMask=0022

# Kernel & Hardware Protection
PrivateDevices=yes
DevicePolicy=closed
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
ProtectClock=yes
SystemCallArchitectures=native

# Process & Identity Isolation
ProtectProc=invisible
ProcSubset=pid
LockPersonality=yes
ProtectHostname=yes
UtmpMode=no
NoNewPrivileges=yes
PrivateIPC=yes
PrivateUsers=no
RestrictNamespaces=yes
RemoveIPC=yes
RestrictRealtime=yes
RestrictSUIDSGID=true
KeyringMode=private
CoredumpFilter=0

# Memory Protection
MemoryDenyWriteExecute=yes

# Network Restriction
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
PrivateNetwork=no

# Syscall Filtering
CapabilityBoundingSet=
SystemCallErrorNumber=EPERM
SystemCallFilter=~@clock @cpu-emulation @debug @module @mount @obsolete @reboot @swap @resources @raw-io @privileged @keyring @pkey @memlock
InaccessiblePaths=-/bin -/usr/bin -/sbin -/usr/sbin -/usr/local/bin

# Restart & Runtime
Restart=always
RestartSec=3
RuntimeMaxSec=5d

# Defaults
LimitCORE=0
LimitNOFILE=65536
LimitNPROC=4096
TimeoutStartSec=300
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target